$base-font: "Poppins", sans-serif;
// color
$color-background: #ddd;
$color-text: #fff;
$color-text-2: #000;
$color-text-3: #ff9068;
$color-button: #fa6146;
$color-button-hover: #2c3e50;
$button-border-width: 4px;
$l-gradient: linear-gradient(to right, hsl(191, 86%, 49%), #c471ed, #f64f59);
$l-gradient-2: linear-gradient(to right, #ff4b1f, #ff9068);
